h1{
    color: #426180;
    font-family: 'Garamond';
    text-decoration: wavy underline;
    text-underline-offset: calc(2px + 0.1em);
}

h2{
    color: hsl(29, 90%, 24%);
    font-family: 'Times New Roman', serif;
}