h1{
    text-align: center;
    color: #426180;
    font-family: 'Garamond';
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: calc(2px + 0.1em);
    margin: 5px 5px;
}

h2{
    color: hsl(29, 90%, 24%);
    font-family: 'Times New Roman', serif;
    margin: 20px 20px;
}

p{
    font-family: 'Times New Roman', serif;
    font-size: 18px;
    color: #000000;
    line-height: 1.1;
    margin: 20px 20px;
}

ul{
    padding-left: 0;
    margin-left: 0;
    font-size: 18px;
    color: #000000;
    line-height: 1.3;
}

li{
    text-align: center;
    font-family: 'Times New Roman', serif;
    font-size: 18px;
    color: #492a14;
    list-style-type: none;
    /*margin-top: 0;
    padding-top: 0;
    margin: 0;
    padding: 0;
    vertical-align: top;
    line-height: 1.2;*/
}

li::before {
    content: "•   ";
    color: #492a14;
}
li::after {
    content: "   •";
    color: #492a14;
}

.wholepage {
    text-align: center;
    align-items: center;
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    border: 5px solid #dee7ff;
    border-radius: 15px;
    background-color: #ffffff;
}